h3 {
  margin: auto;
  color: black;
  text-shadow: 2px 2px 2px white;

}
header {
  text-shadow: 2px 2px 2px red;
}
image.img {
  align-items: center;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(image/fond.jpg);
}

h4 {
  margin: auto;
  color: #780211;
  text-shadow: 2px 2px 2px white;

}
